h1 {
    text-transform: uppercase;
    margin-bottom: -5px;
}
nav ul {
    list-style-type: none;
}

.header_nav {
    text-transform: uppercase;
}

.header_link {
    color: black;
    line-height: normal;
    font-weight: 100;
    text-decoration: none;
    border-bottom: 2px solid currentcolor;
    padding: 0px;
}

.header_list{
    margin: 0px 0px 10px -30px ;
    font-size: 1.275rem;
}

.header_sublist {
    margin: 0px 0px 10px -40px ;
    font-size: 1.65rem;
}

/* --------------------
   Footer
-------------------- */

footer {
  margin: 10rem 0.5rem;
  font-size: 0.7rem;
  color: #505050;
}

.footer-links {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

.support {
  margin-top: 0.4rem;
}

.support summary {
  cursor: pointer;
  list-style: none;
}

.support p {
  margin: 0.1rem 0;
  font-size: 0.65rem;
}

.wallets {
  margin-top: 0.3rem;
}

.wallet-copy {
  display: block;
  font-size: 0.65rem;
  color: #505050;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.15rem 0;
}

.wallet-copy:active {
  opacity: 0.6;
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
}